[Unit]
Description=OTAClient AWS Iot logging server 
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
RootImage=/opt/ota/client/iot_logging_server.img
BindReadOnlyPaths=/etc/hosts /etc/hostname /greengrass /opt
ExecStart=/venv/bin/iot_logging_server
Environment=LISTEN_ADDRESS="127.0.0.1"
Environment=LISTEN_ADDRESS=8083
Restart=on-failure
RestartSec=10
Type=simple

[Install]
WantedBy=multi-user.target