name: build wheel for release

on:
  release:
    types: [published]
  # allow the test CI to be manually triggerred
  workflow_dispatch:

permissions:
  contents: write # upload artifacts requires this permission

jobs:
  build_wheel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup python environment
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          # use the minimum py ver we support to
          # generate the wheel.
          python-version: "3.14"

      - name: Install build deps
        run: |
          python3 -m pip install -U pip
          python3 -m pip install -U hatch

      - name: Build otaclient IoT logging server package
        run: |
          hatch build -t wheel

      - name: Build otaclient IoT logging server proto package
        run: |
          pushd proto
          hatch build -t wheel
          popd
          cp proto/dist/*.whl dist

      - name: calculate checksum
        run: |
          for WHL in dist/*.whl; \
            do \
              sha256sum ${WHL} | sed -E "s@(\w+)\s+.*@sha256:\1@" > \
                ${WHL}.checksum; \
            done

      - name: Upload built wheel as release asset
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: |
            dist/*.whl
            dist/*.checksum
