name: test CI

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

  # allow the test CI to be manually triggerred
  workflow_dispatch:

permissions:
  contents: read
  packages: read
  actions: read
  pull-requests: write

jobs:
  pytest_with_coverage_on_supported_os:
    strategy:
      fail-fast: true
      matrix:
        # currently we only need to ensure it is running on the following OS
        # with OS-shipped python interpreter.
        os: ["ubuntu-22.04", "ubuntu-24.04"]
        include:
          - os: ubuntu-22.04
            python_version: "3.10"
          - os: ubuntu-24.04
            python_version: "3.12"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout commit
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          # sonarcloud needs main branch's ref
          fetch-depth: 0

      # also see https://docs.astral.sh/uv/guides/integration/github/#multiple-python-versions
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          python-version: ${{ matrix.python_version }}
          enable-cache: true

      - name: Execute pytest with coverage
        run: |
          uv run --python python3 --no-managed-python coverage run -m pytest --junit-xml=test_result/pytest.xml
          uv run --python python3 --no-managed-python coverage xml -o test_result/coverage.xml

      # export the coverage report to the comment!
      - name: Add coverage report to PR comment
        if: matrix.os == 'ubuntu-24.04' && github.event_name == 'pull_request'
        uses: MishaKav/pytest-coverage-comment@46a1348587126fb199084ee9024ce511cb3abbdb # v1.4.0
        with:
          pytest-xml-coverage-path: test_result/coverage.xml
          junitxml-path: test_result/pytest.xml

      - name: SonarCloud Scan
        if: matrix.os == 'ubuntu-24.04'
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  pytest_on_supported_python_vers:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Checkout commit
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      # also see https://docs.astral.sh/uv/guides/integration/github/#multiple-python-versions
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Execute pytest via uv
        run: uv run -m pytest
